<section class="footer">
	<div class="foot-widget">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<h4>TEXT WIDGET</h4>
					<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
				</div>
				<div class="col-md-4 col-sm-6">
					<h4>TWITTER WIDGET</h4>
					<p><span>@ericafustero</span> Why thank you. Your work looks awesome by the way! <span>@treemelody</span></p>
					<span class="time">19 days ago</span>
					<p>@roymarvelous You can seek a refund through TF if it is not as advertised - but it is :)</p>
					<span class="time">21 days ago</span>
				</div>
				<div class="col-md-4">
					<h4>FLICKR WIDGET</h4>
					<img src="img/foot-widget.png" alt="img">
				</div>
			</div>
		</div>
	</div>
	<div class="foot-backform">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<form>
						<div class="form-group">
							<input type="email" class="form-control" id="email" placeholder="Enter email for newsletter">
						<button type="submit" class="btn btn-default"><i class="fa fa-angle-right" aria-hidden="true"></i>
						</button>
						</div>
					</form>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="sth-butt">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>
						</a>
						<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i>
						</a>
						<a href="#"><i class="fa fa-flickr" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-4">
					<div class="copyright-text">
						Copyright © Fooseshoes 2013.<br>
						Designed by EnzoLiVolti.
					</div>
				</div>
				<div class="col-md-6 col-sm-8">
					<div class="copyright-menu">
						<a href="#">Home</a>
						<a href="#">Support</a>
						<a href="#">Terms and Conditions</a>
						<a href="#">Faqs</a>
						<a href="#">Contact us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>