<section class="header">
			<nav class="navbar navbar-default">
						<div class="navbar-header">
							<div class="container">
								<div class="row">
									<a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a>
									<a class="navbar-login" href="#">LOGIN or REGISTER</a>
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<form class="navbar-form" role="search">
										<div class="input-group add-on">
											<input class="form-control search" placeholder="Search" name="srch-term" id="srch-term" type="text">
											<div class="input-group-btn">
												<button class="btn btn-open" type="submit"><i class="glyphicon glyphicon-search"></i></button>
											</div>
										</div>
									</form>
									</div>
								</div>
						</div>

				<div class="container">
					<div class="row">
						<div class="collapse navbar-collapse menu" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
								<li><a href="#">Products</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Pages</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a class="like" href="#"><i class="fa fa-star-o" aria-hidden="true"></i><span class="number">30</span></a></li>
								<li><a class="cart" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="number">0</span>
									</a>
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div>
				</div>
			</nav>
</section>
